<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>webName</param-name>
        <param-value>Dostyle</param-value>
    </context-param>
    <context-param>
        <param-name>webLogo</param-name>
        <param-value>./../img/logo.png</param-value>
    </context-param>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>assignment.admin.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginOperation</servlet-name>
        <servlet-class>assignment.admin.LoginOperation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutOperation</servlet-name>
        <servlet-class>assignment.admin.LogoutOperation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>assignment.admin.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>assignment.admin.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryList</servlet-name>
        <servlet-class>assignment.admin.GetCategoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProduct</servlet-name>
        <servlet-class>assignment.admin.AddNewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCustomerList</servlet-name>
        <servlet-class>assignment.admin.GetCustomerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionCheck</servlet-name>
        <servlet-class>assignment.admin.SessionCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCustomerDetails</servlet-name>
        <servlet-class>assignment.admin.GetCustomerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomer</servlet-name>
        <servlet-class>assignment.admin.UpdateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>assignment.admin.DeleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrdersList</servlet-name>
        <servlet-class>assignment.admin.GetOrdersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderDetails</servlet-name>
        <servlet-class>assignment.admin.GetOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrdersProduct</servlet-name>
        <servlet-class>assignment.admin.GetOrdersProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>assignment.admin.DeleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteOrder</servlet-name>
        <servlet-class>assignment.admin.CompleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStaffDetails</servlet-name>
        <servlet-class>assignment.admin.GetStaffDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaff</servlet-name>
        <servlet-class>assignment.admin.UpdateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>assignment.admin.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>assignment.admin.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReportData</servlet-name>
        <servlet-class>assignment.admin.GetReportData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCustomerOrders</servlet-name>
        <servlet-class>assignment.admin.GetCustomerOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableStaff</servlet-name>
        <servlet-class>assignment.admin.DisableStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnableStaff</servlet-name>
        <servlet-class>assignment.admin.EnableStaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/admin/product-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginOperation</servlet-name>
        <url-pattern>/admin/LoginOperation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutOperation</servlet-name>
        <url-pattern>/admin/LogoutOperation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/admin/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/admin/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryList</servlet-name>
        <url-pattern>/admin/GetCategoryList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProduct</servlet-name>
        <url-pattern>/admin/AddNewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomerList</servlet-name>
        <url-pattern>/admin/GetCustomerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionCheck</servlet-name>
        <url-pattern>/admin/SessionCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomerDetails</servlet-name>
        <url-pattern>/admin/GetCustomerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomer</servlet-name>
        <url-pattern>/admin/UpdateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/admin/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrdersList</servlet-name>
        <url-pattern>/admin/GetOrdersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderDetails</servlet-name>
        <url-pattern>/admin/GetOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrdersProduct</servlet-name>
        <url-pattern>/admin/GetOrdersProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/admin/DeleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteOrder</servlet-name>
        <url-pattern>/admin/CompleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStaffDetails</servlet-name>
        <url-pattern>/admin/GetStaffDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaff</servlet-name>
        <url-pattern>/admin/UpdateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/admin/DeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/admin/AddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReportData</servlet-name>
        <url-pattern>/admin/GetReportData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomerOrders</servlet-name>
        <url-pattern>/admin/GetCustomerOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableStaff</servlet-name>
        <url-pattern>/admin/DisableStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnableStaff</servlet-name>
        <url-pattern>/admin/EnableStaff</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
